

.App {
  display: flex;
  text-align: center;
  background: transparent;
  height: 100vh;
justify-content: space-between;
}


*{
    scroll-behavior: smooth;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
