.playerStats-container{
    display: flex;
    background: transparent;
}

.info-container{
    display: flex;
    border: 1px green solid;
    width: 94vw;
    height: 10vh;
    padding: 0px 20px 0px 20px;
    align-items: center;
    gap: 20px;
}

.gamemode-container {
   display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    padding: 0px 15px 0px 20px;
   
}

.game-type{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    
    justify-content: space-between;
    color: white;
   
    padding-top: 8px;
    padding-bottom: 10px;
}
.game-type span:nth-child(1){
    font-size: 14px;
    color: rgba(255, 255, 255, 0.501);
}

.game-type span:nth-child(2){
    font-size: 16px;
    color: white;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}


.info-nav {
      height: 74%;
    width: 18%;
    border-radius: 6px;
    background-color: #111111f0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
