.search-container {
  display: flex;
  flex-direction: column;
    
    width: 96vw;
    box-shadow:inset rgba(0, 0, 0, 0.3) 0px 100px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
}


.search-container h1 {
    position: absolute;
    color: white;
    left: 40%;
    top: 30%;
}

.search-input {
    display: flex;
  background: #FFFBF5;
 padding: 11px;
  align-items: center;
  border: none;
  border-radius: 5px;
    position: absolute;
    left: 33%;
    top: 38%;
    width: 37%;
    height: 6%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search-input-valorant{
    display: flex;
    align-items: center;
    justify-content: center;
   
    width: 20%;
    height: 100%;
   gap: 5px;
   background: rgb(205 220 254);
}
.search-input-valorant span{
    color:#3b3a3a;
    
    font-weight: 500;
}
.search-input-valorant-img{
   
    height: 70%;
    width: 20%;
    object-fit: cover;
}

.dropdown-img{
   height: 5px;
}

.input-value-container{
    display:flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 2%;
}

.input-value {
    border: none;
    width: 100%;
    height: 100%;
    font-weight: 600;
    outline: none;
    font-size: 16px;
}
.search-icon-button{
    display: flex;
    align-items: center;
border: none;
background: none;
 height: 100%;

}

.search-icon-img {
    
   height: 100%;
    
}